@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Noto+Sans+Khmer:wght@600&family=Noto+Sans:wght@500&family=Poppins:wght@500;600;800&family=Roboto:wght@400;500;700&display=swap');
*::after, *::before, *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {
   --primary-color: #343444;
   --primary-color2: #fff;
   --primary-color3:#20ABD0;
   --primary-color4: #EBEBEB;
   --primary-color5: #030303;
   --primary-color6: #ffffff;
   --primary-color7: #353542;
   --bg-section: #060047;
   --bg-section2: #14141F;
   --primary-color8: rgba(255, 255, 255, 0.9);;
   --primary-color9: #fff;

   --card-color: #353542;

   --normal-btn-hover-bg: #fff;
   --normal-btn-hover:  #20ABD0;
   --normal-btn: #fff;
   --outline-btn: transparent;
   --outline-btn-border: #fff;
   --outline-btn-hover: transparent;

   --main-header-btn: #20ABD0;
   --main-header: transparent;

   --header-bg-sticky:#060047;
   
   --soft-bg: transparent;
}

.light-mode {
   --primary-color: #ff5f5;
   --primary-color2: #000;
   --bg-section: #F5F5F5;
   --primary-color4: #000;
   --primary-color5: #f5f5f5;
   --primary-color6: #000000;
   --primary-color7: #aaa;
   --primary-color9: #fff;

   --card-color: #f5f5f5;

   --normal-btn-hover-bg: #20ABD0;
   --normal-btn-hover: #fff;
   --normal-btn: #20ABD0;
   --outline-btn: #363636;
   --outline-btn-border: #363636;
   --outline-btn-hover: #20ABD0;

   --main-header-btn: #fff;
   --main-header: #20ABD0;

   --header-bg-sticky: #20ABD0;
   --header-bg: linear-gradient(45deg, #2e277d, #6e18a7);

   --soft-bg: #838383;
}

body {
   width: 100%;
   height: auto;
   background: var(--bg-section);
   font-family: 'Roboto', sans-serif;
   color: var(--primary-color2);
}

body::-webkit-scrollbar {
   width: 1em;
}
  
body::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
body::-webkit-scrollbar-thumb {
   background-color: #262626;
   outline: 1px solid #111; 
}

a {
   color: var(--primary-color2);
   text-decoration: none;
}

img {
   width: 100%;
   object-fit: cover;
}

ul {
   list-style: none;
}

/* !Background */

.background {
   position: fixed;
   top: 0;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   margin: 0 auto;
   overflow-y: auto;
   overflow-x: hidden;
   /* background-color: #0f0f16; */
   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3534663865546218) 100%); 

   z-index: -1;
}
.circle {
   position: absolute;
   width: 400px;
   height: 500px;
   left: -100px;
   bottom: 20%; 
   filter: blur(150px);
   background-color: #373aff21;
}
.background::before {
   content: "";
   position: absolute;
   width: 123px;
   height: 123px;
   left: 60%;
   top: 138px; 
   filter: blur(100px);
   background-color: #fc37ff66;
}
.background::after {
   content: "";
   position: absolute;
   width: 423px;
   height: 423px;
   left: 80%;
   top: 550px;
   background-color: #18b3de2b;
   filter: blur(80px);
}

/* !Switch (light mode / dark mode) */

.theme-mode {
   position: relative;
   right: 0;
   width: 70px;
   height: 30px;
}

.switch {
   position: absolute;
   right: 0;
   font-size: 17px;
   display: inline-block;
   width: 3.5em;
   height: 2em;
}
 
.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}
 
/* The slider */
.toggle-slide {
   --background: #6666;
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--background);
   border-radius: 30px;
}
 
.toggle-slide:before {
   position: absolute;
   content: "";
   height: 1.4em;
   width: 1.4em;
   border-radius: 50%;
   left: 10%;
   bottom: 15%;
   box-shadow: inset 8px -4px 0px 0px #fff000;
   background: var(--background);
}
 
input:checked + .toggle-slide {
   background-color: #fff;
}
 
input:checked + .toggle-slide:before {
   transform: translateX(100%);
   box-shadow: inset 15px -4px 0px 15px #fff000;
}

.navbar, .container, .footer-wrapper {
   padding: 20px 20px;
   margin: 0 auto;
   max-width: 1500px;
   height: auto;
}

header {
   position: relative;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1001;
   position: fixed;

}

header.sticky {
   top: 0;
   left: 0;
   z-index: 1001;
   background: var(--header-bg-sticky);
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.navbar {
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: flex;
   align-items: center;
   color: #fff;
   cursor: pointer;
}

.logo img {
   margin-right: 10px;
   width: 30px;
}

.nav-list {
   display: flex;
   align-items: center;
}

.nav-list li {
   margin: 0 30px;
}

.nav-list a {
   padding: 30px 0;
   font-size: 20px;
   font-weight: bold;
   display: inline;
   color: #fff;
   transition: .2s ease-in
}

.nav-list a:hover {
   color: #5142FC;
}

.nav-right {
   position: relative;
   display: flex;
   align-items: center;
   gap: 20px;
}

.nav-right i {
   font-size: 20px;
}

.nav-right .btn {
   border: 2px solid var(--main-header-btn);
   color: #fff;
}

.fa-magnifying-glass {
   color: #fff;
}

.cta button {
   border: 2px solid var(--main-header-btn);
   color: #fff;
}

.btn {
   padding: 15px 30px;
   border: 2px solid #5142FC;
   font-weight: bold;
   font-size: 16px;
   display: flex;
   align-items: center;
   text-align: center;
   background: transparent;
   color: var(--normal-btn);
   border-radius: 30px;
   cursor: pointer;
   transition: .3s ease-in-out;
}

.btn:hover {
   background: var(--normal-btn-hover-bg);
   color: var(--normal-btn-hover);
   border: 2px solid var(--normal-btn-hover-bg);
}

.btn i {
   margin-right: 10px;
}

/* main header */
.main-header {
   position: relative;
   width: 100%;
   height: 585px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: url(./images/3.jpg) no-repeat center center/cover;
   padding-top: 20rem;
}

.main-header::before {
   position: absolute;
   content: '';
   z-index: 1;
   width: 100%;
   height: 400px;
   top: 0;
   left: 0;
   /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3534663865546218) 100%);  */
}

.header-content {
   position: absolute;
   z-index: 2;
}

.main-header h2 {
   font-size: 60px;
   letter-spacing: 1.2px;
}

.link {
   display: flex;
   align-items: center;
   justify-content: center;
}

.link a {
   margin: 10px 20px;
   font-size: 18px;
   color: #aaa;
   transition: .25s;
}

.link a:hover {
   color: #fff;
}

/* Title */
.title {
   margin-top: 150px;
   width: 100%;
   text-align: center;
}

.title h2 {
   font-size: 26px;
   padding-bottom: 10px;
}

/* Card container */
.card-container {
   width: 100%;
   margin: 80px 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   gap: 30px;
}

.card {
   padding: 30px 20px;
   background: var(--card-color);
   border-radius: 20px;
   text-align: center;
   transition: .25s;
   cursor: pointer;
   border: 1px solid whitesmoke;
   border-radius: 10px;
}

.card:hover {
   background: #474759;
}

.card:hover img {
   transform: scale(1.2);
}

.card img {
   width: 50px;
   padding: 20px 0;
   transition: .25s;
}

.card h4 {
   font-size: 20px;
}

.card p {
   font-size: 14px;
   color: #aaa;
   padding: 10px 0;
}
/* Footer */
.footer-container {
   width: 100%;
   margin-top: 50px;
   padding: 100px 0;
   background: #060047;
   color: #fff;
}

.footer-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   gap: 30px;
}

.footer-logo {
   width: 200px;
   line-height: 1.5;
}

.footer-logo p {
   font-size: 14px;
   color: #aaa;
}

.footer-wrapper ul {
   display: flex;
   flex-direction: column;
}

.footer-wrapper ul li {
   margin: 10px 0;
}

.footer-wrapper ul a {
   font-size: 14px;
   color: #aaa;
   transition: .25s;
} 

.footer-wrapper ul a:hover {
   color: #20ABD0;
}

.footer-wrapper h2 {
   margin-bottom: 20px;
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
}

.input-box {
   position: relative;
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 40px 0;
}

.input-box input {
   padding: 20px 60px 20px 20px;
   outline: none;
   border: 1px solid #20ABD0;
   background: transparent;
   border-radius: 50px;
}

/* .send-icon {
   margin-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   padding: 20px;
   background: #5142FC;
   overflow: hidden;
   transition: .25s;
}

.send-icon:hover {
   opacity: 0.9;
   cursor: pointer;
}

.send-icon i {
   transition: .3s;
}

.send-icon:hover i {
   transform: translateX(50px);
} */

.input-box button {
   position: absolute;
   left: 180px;
   font-size: 20px;
   background: #5142FC;
   color: white;
   padding: 20px;
   display: flex;
   align-items: center;
   border: none;
   border-radius: 50%;
   overflow: hidden;
   transition: all 0.2s;
   cursor: pointer;
}
 
button svg {
   display: block;
   transform-origin: center center;
   transition: transform 0.3s ease-in-out;
}
 
button:hover .svg-wrapper {
   animation: fly-1 0.6s ease-in-out infinite alternate;
}
 
button:hover svg {
   transform: translateX(-3px) rotate(45deg) scale(1.1);
}
 
button:active {
   transform: scale(0.95);
}
 
@keyframes fly-1 {
   from {
     transform: translateY(0.1em);
   }
 
   to {
     transform: translateY(-0.1em);
   }
}

.social-media {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.social-media a {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #343444;
   border-radius: 10px;
   transition: .3s;
}

.social-media i {
   font-size: 25px;
   color: #b4b4b4;
}

.social-media a:hover {
   background: #5142FC;
}

.social-media a:hover i {
   color: #fff;
}
 
@keyframes fly-1 {
   from {
     transform: translateY(0.1em);
   }
 
   to {
     transform: translateY(-0.1em);
   }
}

.social-media {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.social-media a {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #343444;
   border-radius: 10px;
   transition: .3s;
}

.social-media i {
   font-size: 25px;
   color: #b4b4b4;
}

.social-media a:hover {
   background: #5142FC;
}

.social-media a:hover i {
   color: #fff;
}

@media (max-width: 1200px) {
   .nav-list {
      flex: 1;
      margin-left: 50px;
   }

   .nav-list li {
      margin: 0 14px;
   }

   .nav-list li a {
      font-size: 18px;
   }

   .nav-right .btn {
      padding: 15px;
   }

   .nav-right .btn span {
      display: none;
   }

   .nav-right i {
      margin: 0;
   }
}

@media (max-width: 991px) {
   .nav-list {
      display: none;
   }

   .title p {
      font-size: 14px;
   }

   .mobile-btn {
      width: 40px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }

   .bar {
      position: relative;
      width: 100%;
      height: 3px;
      background: #fff;
      transition: .2s;
   }

   .bar::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: #fff;
      transform: translateY(-8px);
   }

   .bar::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: #fff;
      transform: translateY(8px);
   }

   .bar::before, .bar::after {
      transition: .3s;
   }

   .active .bar {
      background: transparent;
   }

   .active .bar::before {
      transform:  rotate(45deg);
   }

   .active .bar::after {
      transform:  rotate(-45deg);
   }

   .nav-list {
      display: block;
      position: fixed;
      top: 80px;
      left: 0;
      z-index: 1;
      width: 100%;
      margin: 0;
      background: var(--bg-section2);
      box-shadow: rgb(38, 57, 77) 0px 20px 10px -18px;
      opacity: 0;
      pointer-events: none;
      transition: .3s;
      padding: 20px 0;
   }

   .nav-list li {
      padding: 20px 0;
      border-bottom: 1px solid #aaaaaa2d;
      cursor: pointer;
   }

   .nav-list li a {
      font-size: 15px;
      transition: .3s;
   }

   .nav-list li:hover a {
      color: #5142FC;
   }

   .nav-list li:last-child {
      border: none;
   }

   .nav-list.active {
      opacity: 1;
      pointer-events: auto;
   }
}

@media (max-width: 769px){
   .floating-bg {
      display: none;
   }

   .navbar {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .nav-right i {
      font-size: 15px;
   }
   
   .header-image {
      display: none;
   }

   .title {
      font-size: 24px;
   }
   
   .header-content {
      width: 100%;
      height: auto;
   }

   .header-content h2 {
      width: 100%;
      font-size: 40px;
   }

   .sc-card .card-profile {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
   }

   .outline-btn {
      font-size: 14px;
      padding: 10px 20px;
   }

   .outline-btn i {
      font-size: 14px;
   }

   .card-container {
      grid-template-columns: repeat(auto-fit, minmax(180px, auto));
      gap: 10px;
      row-gap: 20px;
   }

   .card {
      padding: 10px;
   }

   .card-image {
      height: 180px;
   }

   .card-info h3 {
      font-size: 16px;
   }

   .profile, .price, .p {
      font-size: 10px;
   }

   .card-container .profile {
      gap: 5px;
   }

   .p-image {
      width: 30px;
      height: 30px;
      border-radius: 8px;
   }

   .card-btn {
      font-size: 14px;
      width: 100%;
      padding: 10px;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .card-bottom {
      margin-top: 8px;
   }

   .card-bottom a{
      display: none;
   }
   
   .card-info {
      margin-top: 10px;
      margin-bottom: 0;
   }

   .tag {
      font-size: 14px;
   }
   
}

@media (max-width: 460px){
   .form .input {
      width: 250px;
   }
}